<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.plugin.SpenPlugin"
      version="0.1.0">

    <name>SpenPlugin</name>
    <description>Samsung Pen-input cordova plugin. Dispatch data through javascript events.</description>
	<author>Venturi Davide</author>
    <license>Apache 2.0 License</license>
    <keywords>cordova,pen,touch,input,samsung</keywords>

    <!-- android -->
    <platform name="android">

        <js-module src="www/SpenPlugin.js" name="SpenPlugin">
            <clobbers target="window.SpenPlugin" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpenPlugin">
	            <param name="android-package" value="org.apache.cordova.plugin.SpenPlugin"/>
	        </feature>
        </config-file>
        <source-file src="src/android/SpenPlugin.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>
</plugin>